/* Added google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* shared styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

.categories-container h1,
p,
h3 {

    font-family: "Inter", sans-serif;
}

/* header styles */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 75vh;
    background-image: linear-gradient(180deg, #221e1ee5, #e1dddd00), url("../resources/Banner\ Image.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgb(17, 12, 12);
    border-radius: 16px;
    margin: 32px auto;
}

.header h3 {
    color: white;
    font-size: 28px;
    font-weight: 400;
}

.header h2 {
    color: white;
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 60px;
    text-align: center;
    width: 70%;
}

/* categories styles */
.categories-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
}

.categories-title {
    color: #FF0000;
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 25px;
}

.categories-slogan {
    color: #FF0000;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.categories-title-two {
    color: #070211;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 30px;
}

.categories-container img {
    width: 630px;
}

/* join section styles */
.join-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 73vh;
    margin: 32px auto;
    background-image: linear-gradient(45deg, rgba(17, 19, 32, 0.525), rgba(22, 20, 22, 0.455)), url("../resources/Vectorrr.png");
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
}

.join-section-left {
    text-align: left;
    padding: 80px;
}

.join-section-left h3 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 900;
}

.join-section-left p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

.join-section-left .join-btn {
    background-color: transparent;
    border: 0;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    margin: 50px 30px;
}

.join-section-right {
    padding: 80px;
}

/* event time styles----- */
.event-time {
    background-image: linear-gradient(rgba(237, 177, 177, 0.509), white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40vh;
    margin: 32px auto;
    padding: 50px;
    border-radius: 16px;
}

.event-time .event-title {
    color: #FF0000;
}

.event-time h3 {
    padding-bottom: 16px;
    font-family: "Inter";
    font-weight: 600;
    font-size: 24px;
}

.event-time .event-join-btn {
    background-color: #FF0000;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    margin-top: 20px;
    padding: 10px 20px;
    border: 0;
    border-radius: 8px;
}

/* offer & greeting styles */
.offer-container {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

.offer-container-first {
    margin-left: 30px;
}

.offer-container-first h4 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    color: #FF0000;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.offer-container-first h3 {
    font-size: 35px;
    font-weight: bold;
    color: #070211;
}

.offer-container-first p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
    color: #070211a1;
}

.offer-container-img {
    margin: 50px 70px;
}

.offer-container-img img {
    padding: 30px;
    border: 10px solid red;
    border-radius: 250px;
}

.offer-container-last h3 {
    font-family: "Inter";
    font-size: 40px;
    font-weight: bold;
    color: #FF0000;
    margin-top: 20px;
}

.offer-container-last p {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    color: #070211a1;
}

/* holiday section styles ------- */
.holiday-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 32px auto;
}

.holiday-section h4 {
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

.holiday-section .holiday {
    color: #FF0000;
}

.holiday-section h1 {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 20px;
}

.holiday-section p {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 500;
    color: #070211a1;
    text-align: center;
    padding: 0 100px;

}

.holiday-img img {
    width: 100%;
    border-radius: 20px;
}